body {
    font-family: 'Courier New', Courier, monospace;
}
li {
    font-family: sans-serif;
}
p {
    color:purple;
    font-family: sans-serif;
    font-size: 0.9em;
    text-align: center;
    background-color: gray;
    margin: 100px;
}

.article {
    /* wacky article styles here */
    background-color: blue;
    border: 20px;
    border-color: red;
    border-style: solid;
}