/*desktop*/
p {
    line-height: 2em;
    font-size: 1.2em;
    padding-bottom: 10px;
}

#content {
    width: 50%;
    margin: auto;
    line-height: 1.5em;
    font-size: 1.5em;
}

/*phone*/
@media (orientation: portrait) {
    #content {
        width: 100%;
        line-height: 1.5em;
        font-size: 1.5em;}
    #nav-bar {
        flex-direction: column;
    }
}

#nav-bar {
    display: flex;
    flex-direction: row;
    background-color: black;
    position: sticky;
    top: 0;
}

.nav-button {
    margin: auto;
}

.nav-button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

div {border: 1px red solid;}

html {
    scroll-behavior: smooth;
}