body {
    padding-left: 10%;
    padding-right:10%;
    background-color: whitesmoke;
  }
  
  h1 {
    font-size: 3em;
    color: white;
    font-family: Futura;
    text-align: center;
    padding: 1em;
  }

  h2 {
    font-family: Futura;
    padding-top: 20px;
  }
  
  p, ul {
    font-size: 1.3em;
    line-height: 1.4em;
  }
  
  .img-container {
    width: 100%;
  }
  
  img {
    margin: auto;
    display: block;
    width: 90%;
  }
  
  .cutline {
    font-size: 10px;
  }
  
  .emoji-list {
    list-style-type: none;
  }

  /* responsive design */
  #content {
    width: 75%;
    margin: auto;
  }
  
.hed {
    background-color: #333333;
    color: white;
}

.text {
  width: 95%;
  margin: auto;
}

  @media (orientation: portrait) {
    #content {
      width: 100%;
    }
  }